# Include the license file
include LICENSE
include src/LICENSE
include src/voro++/LICENSE
recursive-include src *.h
recursive-include src/voro++/src *.hh *.cc
recursive-include src/Eigen *
recursive-exclude tests *
